.step {
  position: relative;
}
.step::after {
  content: "";
  position: absolute;
  background: #ece6db;
  height: 4px;
  width: 100px;
  left: 56px;
  top: 44px;
  z-index: -1;
}
.step-num {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.2rem;
  border-radius: 50%;
  border: 1px solid #000;
}