.product p {
  margin-bottom: 0.25rem;
}
.product-content-title {
  position: relative;
}
.product-content-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.2rem;
  height: 0.4rem;
  width: 100%;
  background: rgba(86, 181, 194, 0.2);
}